body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  background: rgb(240, 240, 240);
}
h2 {
  font-size: 20px;
  margin-top: 0;
}
.container {
  margin-top: 3em;
}
.tagline, .download {
  text-align: center;
}
.header {
  text-align: center;
  margin-bottom: 1.5em;
}
.header img {
  max-width: 100%;
}
.tagline {
  margin: 0;
  padding-bottom: 30px;
  max-width: 500px;
  font-size: 18px;
  line-height: 1.4em;
}
.download {
  margin: 0;
  padding-bottom: 30px;
}
.main-column {
  padding-left: 20px;
}
footer {
  margin-top: 48px;
  padding: 24px 0;
  line-height: 0.75em;
  border-top: 1px solid #ccc;
  text-align: center;
  opacity: 0.7;
}
a {
  color: #069;
}
.supported-cards {
  max-width: 400px;
  margin-bottom: 1.5em;
  text-align: left;
}
ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 0 0.5em 0;
}
ul li {
  padding-bottom: 0.25em;
}
ul li:last-child {
  padding-bottom: 0 !important;
}
.supported-cards ul sup {
  font-size: 10px;
}
.supported-cards .footnote {
  font-size: 10px;
  margin: 0;
}
.screenshots, .support {
  margin-bottom: 1.5em;
}
.screenshots img {
  width: 100px;
  margin-bottom: 0.5em;
}
.modal-screenshot .modal-dialog {
  width: 300px;
}
.modal-screenshot .modal-body {
  text-align: center;
  padding: 0;
}
.modal-screenshot .modal-content {
  border-radius: 0;
  border: 0;
}
code {
  color: #3069ac;
}
