*~
build/
out/
dist/
bin/
gen/
classes/
.DS_Store
.idea
local.properties
*.iml
*.iws
projectFilesBackup/
project.properties
.gradle
*.keystore
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
*.apk
manifest-merger-release-report.txt
*.zip
*scan_*/
