<?xml version="1.0" encoding="UTF-8"?>
<!--
  AndroidManifest.xml

  Copyright (C) 2011-2013 Eric Butler

  Authors:
  Eric Butler <eric@codebutler.com>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebutler.farebot"
    android:versionCode="20"
    android:versionName="2.5.0">
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.nfc" />

    <!-- Google Maps V2 -->
    <permission
        android:name="com.codebutler.farebot.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.codebutler.farebot.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/launcher_icon"
        android:theme="@style/Theme.Sherlock"
        android:debuggable="true"
        android:name=".FareBotApplication">
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/com.codebutler.farebot.card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ReadingTagActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>
        <activity
            android:name=".activities.CardInfoActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.codebutler.farebot.card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdvancedCardInfoActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".activities.FareBotPreferenceActivity"
            android:label="@string/preferences" />
        <activity
            android:name=".activities.TripMapActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".activities.SupportedCardsActivity"
            android:label="@string/supported_cards"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CardsActivity"
            android:label="@string/scanned_cards"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.KeysActivity"
            android:label="@string/keys" />
        <activity
            android:name=".activities.AddKeyActivity"
            android:label="@string/add_key"
            android:theme="@style/FareBotDialog">
            <intent-filter android:priority="1">
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="file" android:pathPattern=".*\\.farebotkeys" android:mimeType="application/octet-stream"/>
                <data android:scheme="content" android:pathPattern=".*\\.farebotkeys" android:mimeType="application/octet-stream"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.codebutler.farebot.provider.CardProvider"
            android:authorities="com.codebutler.farebot.cardprovider" />
        <provider
            android:name="com.codebutler.farebot.provider.CardKeyProvider"
            android:authorities="com.codebutler.farebot.keyprovider" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBUUm1_1cyaCLkIvcE60gF4xO3pyb6SyP4"/>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="77d8c3509e581fb753f705c476fe3b022dda0287" />
    </application>
</manifest>
